.contEatToday{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleAvo{
    text-align: center;
    font-weight: 600;
}

.displayNone{
    display: none;
}

.positive{
    color: green;
    font-weight: 600;
}

.negative{
    color: red;
    font-weight: 600;
}